<header>
    <nav class="nav">
        <a href="/">CRUD CON NODE.JS</a>
        <ul class="menu">
            <li class="menu_item"><a href="/">Inicio</a></li>
            <li class="menu_item"><a href="/productos">Productos</a></li>
            <li class="menu_item"><a href="/categorias">Categorias</a></li>
            <li class="menu_item"><a href="#">Ofertas</a></li>
        </ul>
    </nav>
</header>